*{
  margin: 0;
  padding: 0;  
}

html{
  background-color: white;
  color: #555;
  font-family: "Lato", "Verdana";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;  
}
header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(20,20,20,0.69), rgba(20,20,20,0.69)) ,url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
}

.navcon{
  background-color: transparent;
}
.navitem{
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navitem:hover{
  border-bottom: 2px solid orange;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
  color:orange;
  font-weight:bold;
}

.header-text{
  font-family: "Lato", "Verdana";
  background-color: transparent;
  color: white;
}

.headermain{
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 4px;
word-spacing: 4px;
margin-bottom: 30px;
}

.btn:link,
.btn:visited{
  border: 1px solid orange;
  border-radius: 30px;
  text-decoration: none;
  margin-left: 20px;
  color: white;
}

.btn-full:link,
.btn-ful:visited{
 background-color:orange;
 transition: 0.5s;
}

.btn-full:hover,
.btn-full:active{
 background-color: #c67e22;
 transition: 0.5s;
}

.btn-ghost:link,
.btn-ghost:visited{
 background-color:transparent;
 color:orange;
 transition: 0.5s;
}

.btn-ghost:hover,
.btn-ghost:active{
 background-color: #c67e22;
 color:white;
 transition: 0.5s;
}

.section1{
  min-height: 101vh;
    background-image:linear-gradient(rgba(220,220,220,0.69), rgba(220,220,220,0.69)) ,url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
}

.cardcon{

  background-color: white;
  min-height: 620px;
  padding:20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.card h3{
  padding: 20px;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}

.card h4{
  text-align: center;
  color: orange;
  padding: 20px;
  text-transform: uppercase;
  font-size: 75%;
  margin-bottom: -20px;
}

.card p{
  font-size: 70%;

}

.btn-card:link,
.btn-card:visited{
text-decoration:none;
 background-color:transparent;
 color:orange;
 border: 1px solid orange;
 border-radius: 30px;
 font-size: 75%;
 padding: 5px 15px;
 margin-left: 33%;
 transition: 0.5s;
}

.btn-card:hover,
.btn-card:active{
 background-color: #c67e22;
 color:white;
 transition: 0.5s;
}

.section2{
  min-height: 90vh;
  background-color: rgb(231,231,231);
}

.ourteam{
  padding-top:70px;
  text-align: center;
  font-size: 200%;
  color:orange;
  text-transform: uppercase ;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.OTCard{
  margin-top:20px;
}

.OTC-name{
 font-size: 120%;
  color:orange;

}

.OTC-p{
  font-size: 70%;
}

footer{
  min-height: 10vh;
  background-color: #1c1c1c;
}

.ft{
  color:white;
  font-size:50%;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ft2{
  font-size: 100%;
  color: white;
  padding:20px;
  margin-bottom: 0;
  text-align: center;

}

.ft2 i{
  color:orange;
  font-size: 70%;
  margin-right: 5px;
}

.rtbutton{
  position: fixed;
  bottom: 20px;
  right:10px;
  z-index:99;
}

.rtbutton a:link,
.rtbutton a:visited{
  color: orange;

}

@media(max-width:820px){
  .navcon{
  background-color: #1c1c1c;
  }

  .btn{
    font-size: 0.8rem;
  }

  .header-text{
    padding-top: 0;
    margin-bottom: 0;
  }

  .headermain{
    font-size: 1.5rem;
  }
  .OTCard{
    margin-top:0;
  }
}
